/*HEADER*/
.header {
    display: flex;
    margin: 92px auto 0;
    max-width: 1052px;
}

/*Меню*/
.header__menu {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-top: 45px;
}

.header__links-list {
    display: flex;
    list-style: circle;
    margin-left: 26px;
}

.header__links-list-item {
    margin-right: 32px;
}

.header__links-list-item:last-child {
    margin-right: 0;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__links-list-item_link-active {
    text-decoration: none;
}

/*Логотип*/
.header__logo {
    margin-left: 40px;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

/*Адрес*/
.address {
    max-width: 240px;
    width: 100%;
    font-style: normal;
    text-underline-position: under;
    font-weight: normal;
    font-size: 18px;
    line-height: 24.3px;
}

.header__address {
    margin-top: 5px;
    margin-left: auto;
    margin-right: 26px;
}

/*COVER*/
.cover {
    display: flex;
    flex-direction: column;
    margin-top: 86px;
    background-image: url(../images/cover.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 757px;
    padding-left: 50px;
    padding-right: 50px;
}

.cover__title {
    margin: 162px auto 0;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    z-index: 2;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 30px;
    width: 100%;
    text-transform: uppercase;
    
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    display: block;
    
    margin-top: 10px;
    text-align: center;
}

.aligned-text_right {
    display: block;
    margin-top: 6px;
    margin-right: -62px;
    text-align: right;
}

.letter-spacing_long {
    letter-spacing: 60px;
}

.letter-spacing_normal {
    letter-spacing: 30px;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: #000000;
    opacity: 0.6;
}

.cover__description {
    z-index: 2;
    display: flex;
    margin: 130px auto 0;
}

.cover__description-text {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 22px;
    line-height: 51px;
    word-spacing: 18px;
    margin-left: 28px;
    text-transform: uppercase;
}

.bet-button {
    width: 256px;
    height: 51px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    font-family: Raleway, sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    padding: 0;
    margin-left: 79px;
    text-transform: uppercase;
}

.bet-button:hover {
    cursor: pointer;
}

/*LOTS*/
.lots {
    margin: 184px auto 0;
    max-width: 1052px;
}

.lots__heading {
    font-size: 40px;
    margin-left: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    margin: 27px auto 0;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style-type: none;
    justify-content: space-between;
}

.lots__card-list-item {
    display: block;
    flex-grow: 1;
    max-width: 334px;
}
.card-link {
    display: block;
    text-decoration: none;
    height: 100%;
    width: 100%
}

.card {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-position: center center;
    background-size: cover;
    position: relative;
    color: #FFFFFF;
    min-height: 563px;
    max-width: 334px;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

.card__title {
    z-index: 2;
    margin: 51px auto 0;
    font-size: 22px;
    text-decoration: underline;
    text-underline-position: under;
    text-transform: uppercase;
}

.card__text {
    z-index: 2;
    margin: 0 auto 48px;
    font-size: 20px;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
    display: block;

    margin-top: 30px;
    margin-left: 40px;
    font-size: 20px;
    text-underline-position: under;
}

/*ABOUT*/
.about {
    margin: 146px auto 0;
    display: flex;
    max-width: 1052px;
}

.about__left-column {
    max-width: 334px;
    width: 100%;
}

.about__right-column {
    width: 100%;
}

.about__logo {
    display: flex;
    margin: 35px auto 0;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000000;
}

.about__logo-image {
    margin: 0 auto;
    width: 148px;
    justify-content: center;

}

.about__title {
    margin-top: 136px;
    margin-left: 24px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.about__text-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 100px;
    margin-left: 24px;
}

.about__text {
    font-size: 20px;
}

/*FOOTER*/
.footer {
    display: flex;
    margin: 180px auto 88px;
    max-width: 1000px;
    justify-content: space-between;
}

.footer__list-links {
    font-size: 18px;
    list-style-type: none;
}

.footer__list-social-icons {
    display: flex;
    list-style: none;
    gap: 48px;
}

.footer__list-links-item {
    text-align: center;
}

.footer__list-links-link {
    text-underline-position: under;
}

.footer__list-links-link_active {
    text-decoration: none;
}

/*.footer__list-social-icon {

}*/

.footer__soc-card {
    display: block;
    width: 48px;
    height: 48px;
}

.footer__link-youTube {
    background-image: url(../images/yt.svg);
}

.footer__link-VK {
    background-image: url(../images/vk.svg);
}

.footer__link-pinterest {
    background-image: url(../images/pinterest.svg);
}